<header class="header" role="banner" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div>
        {{#if @blog.logo}}
            <a class="blog-logo" href="{{@blog.url}}">
                <img src="{{@blog.logo}}">
            </a>
        {{/if}}
        <h1 class="blog-title">
            <a href="{{@blog.url}}">
                {{@blog.title}}
            </a>
        </h1>
        <h2 class="blog-description">
            {{@blog.description}}
        </h2>
        {{navigation}}
    </div>
</header>