{{!< default}}
{{> header}}

<section class="main" role="main">
    {{#foreach posts}}
    <article class="article" role="article">
        <header class="post-header">
            <time datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="MMMM DD, YYYY"}}">
                {{date timeago="true"}}
            </time>
            <h1>
                <a href="{{{url}}}" rel="bookmark">
                    {{title}}
                </a>
            </h1>
        </header>
        <div class="post-content">
            {{excerpt words="30"}}...
        </div>
        <a href="{{{url}}}">Read more</a>
    </article>
    {{/foreach}}
    {{#if pagination}}
        {{{pagination}}}
    {{/if}}
</section>

{{> footer}}