{{!< default}}

{{#post}}
{{#if image}}
<header class="post-cover" style="background-image: url({{image}})">
    <div class="post-cover-inner">
        <a href="{{@blog.url}}">Home</a>
    </div>
</header>
{{else}}
{{> header}}
{{/if}}
<section class="main" role="main">
    <article class="article" role="article">
        <header class="post-header">
            <time datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="MMMM DD, YYYY"}}">
                {{date timeago="true"}}
            </time>
            <h1>
                <a href="{{{url}}}" rel="bookmark">
                    {{title}}
                </a>
            </h1>
        </header>
        {{content}}
        {{#if tags}}
        <div class="post-tags">
            Tags: {{tags separator=", "}}
        </div>
        {{/if}}
        <div class="post-share">
            <h4>Share</h4>
            <ul>
                <li>
                    <a target="_blank" href="http://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}">
                        <span class="icon-twitter"></span>
                        Twitter
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">
                        <span class="icon-facebook"></span>
                        Facebook
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">
                        <span class="icon-google-plus"></span>
                        Google+
                    </a>
                </li>
            </ul>
        </div>
        {{#if author}}
        <footer class="post-author">
            {{#if author.image}}
            <div class="post-author-avatar">
                <img src="{{author.image}}" alt="{{author.name}}">
            </div>
            {{/if}}
            <p class="post-author-name">
                {{author.name}}
            </p>
            {{#if author.website}}
            <p class="post-author-website">
                <a href="{{author.website}}">
                    {{author.website}}
                </a>
            </p>
            {{/if}}
            {{#if author.bio}}
            <p class="post-author-bio">
                {{author.bio}}
            </p>
            {{/if}}
        </footer>
        {{/if}}
    </article>
    {{#if pagination}}
        {{{pagination}}}
    {{/if}}
</section>
{{/post}}

{{> footer}}